{% extends 'dashboard.html' %}

{% block dashboard_content %}
    <h3>Customer Table</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        {% for i in range(data['name']|length) %}
            <tr>
                <td>{{ data['name'][i] }}</td>
                <td>{{ data['email'][i] }}</td>
                <td>{{ data['phone'][i] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
